snippet det "Simple Dropdown" b
<details>
<summary>$1</summary><br>

</details>

endsnippet

snippet det1 "Dropdown with href" b
<details>
<summary><a href="./$1">0. Task</a></summary><br>



</details>

endsnippet

snippet det2 "Dropdown with href plus links" b
<details>
<summary><a href="./$1">0. Task</a></summary><br>

<ul>
  <li>Links from screenshot
  <ul>
      <li><a href="https://google.com">Google</a></li>
  </ul>
  </li>
</ul>

</details>

endsnippet